@inherits LayoutComponentBase

<div id="page-container">
    <Header @rendermode="InteractiveServer" />
    <div id="content-wrap">
        @Body
    </div>
    <Footer @rendermode="InteractiveServer" />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
