@page "/communities"

<div class="container">
    <div class="row" style="color:white;">
        Placeholder text.
    </div>
    <div class="row">
        <div class="col bg-jernalb" style="box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38); border-radius: 2.5em; padding: 1em;">
            <div class="container">
                <h3 class="text-center">Communities</h3>
                <ul>
                    <li>Local Facebook resouce: <a href="https://www.facebook.com/sanpetehomeschoolfamilies/">https://www.facebook.com/sanpetehomeschoolfamilies/</a></li>
                    <li>Local homeschool support groups: <a href="https://localhs.com/?Sanpete,UT">https://localhs.com/?Sanpete,UT</a></li>
                    <li>Homeschool hub Utah: <a href="https://www.homeschoolhubutah.org/">https://www.homeschoolhubutah.org/</a></li>
                    <li>Utah home education association: <a href="http://www.uhea.org/">http://www.uhea.org/</a></li>
                    <li>Homeschooling in Utah: <a href="https://www.homeschoolinginutah.com/">https://www.homeschoolinginutah.com/</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {

}
