<img src="/images/homeschool2.jpg" class="center" style="box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);" />
<div class="container">
    <div class="row">
        <div class="col bg-jernalb" style="box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);">
            <div class="container">
                <h3 class="text-center">Getting Started</h3>
                <ul>
                    <li>Explore your state’s homeschool laws.</li>
                    <li>Talk to other homeschool mothers.</li>
                    <li>
                        Explore homeschool methods – you don’t have to choose just one, or even any, just learn
                        ways to approach homeschooling. Then you can find your families sweet spot. This often
                        takes a few years to perfect, some experimentation, and adjustments.
                    </li>
                    <li>Look at curriculum options.</li>
                    <li>
                        Join Facebook homeschool groups and see what others are doing and recommending.
                        This adds ideas to your toolbox.
                    </li>
                    <li>If you feel you want support, explore the co-ops and part-time school options.</li>
                    <li>Consider how you will keep a record of what you do.</li>
                    <li>
                        If you really what to do this and are not sure where to start, sign up for a coaching
                        session. You can do it just once to get your confidence up and get pointed in the right
                        direction, or more than once to figure out how to jump in.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col bg-jernalb" style="box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);">
            <div class="container">
                <h3 class="text-center">Why Home School?</h3>
                <ul>
                    <li>My child has special needs that we can meet better working one on one.</li>
                    <li>My child was being bullied in public school.</li>
                    <li>
                        My child wanted to move faster than the rest of the class, he can do that at home. At home he can move at his own speed.
                    </li>
                    <li>We can learn in a way that works for me and my kiddos.</li>
                    <li>
                        I know my child’s strengths and weakness and can teach them with these in mind, unlike a teacher with 25-35 students in their room.
                    </li>
                    <li>We can make play, which is the learning language of children, the basis for our children’s learning.</li>
                    <li>We can travel, see the world, take our kids on our business trips, anything we are doing, we just fit school into and around it.</li>
                    <li>
                        Our child has special health issues that can be better accommodated at home.
                    </li>
                    <li>
                        Our children gets to learn in a more real world setting than a classroom.
                    </li>
                    <li>
                        I want my children to learn in a way that is based on our faith beliefs.
                    </li>
                    <li>
                        We can base learning around our child’s interests and passions.
                    </li>
                    <li>
                        We can teach our children in a way that helps them become entrepreneurs.
                    </li>
                    <li>
                        Our children can be involved in extracurricular activities they enjoy that would not be possible if they had a public-school schedule.
                    </li>
                    <li>
                        Our son can have a part -time day job in a field he is interested in during part of the day when he is homeschooled.
                    </li>
                    <li>
                        Our child’s diagnosis requires a special diet, and they were getting contaminated at school and getting sick.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>