.tag {
    background-color: white;
    border-radius: 1em;
    text-align: center;
    width: 50%;
    margin: 1em;
}

.col {
    padding: 1em;
}

img {
    border-radius: 1em;
    max-width: 100%;
}

.bg-jernalb {
    border-radius: 2.5em;
    margin-right: 5em;
    margin-top: 1em;
    display: flex;
}

.bi-cart-plus {
    cursor: pointer;
}